@media (max-width: 768px) {
  .sidebar {
      display: none;
      }
  
  
      .widgets {
          display: none;
        }
  
        .tweetbox , .post{
          object-fit: contain;
          align-content: center;
          width: 100%; 
      }
      
      .show-on-mobile{
          position:sticky;
          bottom:0;
          background-color: white;
          z-index: 100;
          border: 1px solid var(--twitter-background-color);
          padding: 15px 45px;
          cursor: pointer;
          display:flex;
        }

        .feed__header img{
          height:30px;
          width:30px;
          border-radius:50%;
        }
        .right {
          display: block;
          position: fixed;
          bottom: 80px;
          right: 10px;
          background-color: #1D9BF0;
          border-radius: 50%;
          padding-left: 15px;
          padding-top: 15px;
          padding-bottom: 15px;
      }
  }
  
  @media (max-width: 992px) {
      .sidebar {
         display: none;
          }
      
          .widgets {
              display: none;
            }
      
            .tweetbox , .post{
              object-fit: contain;
              align-content: center;
              width: 100%; 
          }
  
          .show-on-mobile{
              position:sticky;
              bottom:0;
              background-color: white;
              z-index: 100;
              border: 1px solid var(--twitter-background-color);
              padding: 15px 45px;
              cursor: pointer;
              display:flex;
            justify-content:space-between;
            margin-top: 10px;
            background-color:aliceblue;
            align-content: flex-start;
          }
          .feed__header img{
            height:30px;
            width:30px;
            border-radius:50%;
          }
          .right {
            display: block;
            position: fixed;
            bottom: 80px;
            right: 10px;
            background-color: #1D9BF0;
            border-radius: 50%;
            padding-left: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
      }
      
  
  @media screen and (max-width: 1200px) {
      .sidebar {
          display: none;
      }
  
      .widgets {
          display: none;
        }
  
        .tweetbox , .post{
          object-fit: contain;
          align-content: center;
          width: 100%; 
      }
      .show-on-mobile{
          position:sticky;
          bottom:0;
          background-color: white;
          z-index: 100;
          border: 1px solid var(--twitter-background-color);
          padding: 15px 45px;
          cursor: pointer;
          display:flex;
        justify-content:space-between;
        margin-top: 10px;
        background-color:aliceblue;
        }
        .feed__header img{
          height:30px;
          width:30px;
          border-radius:50%;
        }

        .right {
          display: block;
          position: fixed;
          bottom: 80px;
          right: 10px;
          background-color: #1D9BF0;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          padding-left: 15px;
          padding-top: 15px;
          padding-bottom: 15px;
      }
  
      }