@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Almarai', sans-serif;
    font-weight: 350;
}

img {
  width: 30px;
  position:relative; 
  height: 30px;
  left: 22vh;
  cursor: pointer;
}

.pill-btn{
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  line-height: 49px;
  background:  rgb(29, 155, 240);
  padding: 0px 20px;
  margin: 20px 150px;
  border-radius: 999em;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  width: 15vw;
  vertical-align: bottom;
  white-space: nowrap;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;

}
 

  html,body{
    overflow:auto;
   }
   body{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
   }

   .clear{clear:both;}
   #wrapper{
    overflow:hidden;
    min-height:100%;
   }
   #sidebarleft{
    max-width:28%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    min-height:100%;
    border-right: 1px solid red;
    position: fixed;
   }

   #sidebarright{
    width:55vw;
    max-width:35%;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    min-height:100%;
    border-left: 1px solid red;
    position:relative;
    height:10%;
   }
   #sidebarleft{
    float:left;
   }
   #sidebarright{
    float:right;
   }
   #main{
    top: 10vh;
    left:27.9vw;
    right:34.6vw;
    bottom:480px;
    position:absolute;
    border-top: 5px solid red;
    background-color:olivedrab;
  }

  .submain{
    top: 0;
    bottom:0;
    background-color: grey;
    border-bottom: 5px solid yellow;
    height: 10vh;
    right: 2vw;
    margin-right: 34.6vw;
    margin-left: 28vw;
    position: sticky;
  }


  .home {
    margin-left:0vw;
  }
  .submain .icon {
    margin-left:32vw;
    margin-top: -10vh;
  }

     /* The navigation menu links */
.material-icons {
  padding: 8px 12px 8px 4px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(7, 2, 2);
  display: inline-block;
  position: flex;
  margin: 5px 10px;
  align-content: center;
  cursor: pointer;
}

.category:hover {
  background-color: lightgrey;
  border-radius:999em;
  height: 50px;

}
 
.category {
  position: relative;
  z-index: 2;
  margin-left: 20vh;
  font-size: 20px;
  cursor: pointer;
}

header {
  font-size: 20px;
  cursor: pointer;
  color:black;
  top:100px;
  position: sticky;
  top:0px;
}

.pictures {
     padding-top:5vh;
}

.image{
  border-radius: 50%;
  width: 36px;
  height: 36px;
  left:1vw;
  bottom:15x;
  position:absolute;

}

input{
  background-color: lightgrey;
  display: grid;
  width: 60%;
  margin-left: 35px;
  margin-top: 10px;
  border-radius: 23px 23px;
  height: 55px;
  text-decoration: bold;
  text-align: center;
  margin-bottom: 20px;
  border:none;
  position:sticky;

}

.comment{
  background-color: lightgrey;
  display:block;
  width: 60%;
  padding-left: 1vw;
  margin-left: 35px;
  margin-top: 12px;
  margin-bottom: 0vh;
  border-radius: 25px 25px;
  height: 22vh;
  position: inherit;
  font-weight: 500;
}

.comment1{
  background-color: lightgrey;
  display:block;
  width: 60%;
  padding-left: 1vw;
  margin-left: 35px;
  margin-top: 12px;
  margin-bottom: 12vh;
  border-radius: 25px 25px;
  height: 78vh;
  position: inherit;
  font-weight: 500;

}

#hashtag{
  color:grey;
  padding-left:200px;
  font-size: 19px;
  top:5vh;
}

#tag{
  color:grey;
  font-size: 13px;
}


a.button2{
  display:grid;
  height: 40px;
  width: 9vw;
  line-height: 43px;
  background:  rgb(6, 7, 7);
  padding: 0px 20px;
  margin: 14px 28px;
  border-radius: 999em;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  vertical-align: bottom;
  white-space: nowrap;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  margin: 2px 0px;
  }

  p{
  text-align: 500px;
  font-size: 20px;
  cursor: pointer;
  color:black;
  top:100px;
  position: sticky;
  top:0px;
  }

.twiter {
  text-overflow: unset;
}
 